#mapContainer {
  height: 750px;
  width: 750px;
  padding-top: 5px;
}

html{
  font-family: 'Montserrat', sans-serif;
  color: #8614f8
}

body {
  background-color: #808080
}

.centered {
  text-align: center;
}
