#mapContainer {
  height: 750px;
  width: 500px;
  padding-top: 5px;
}

html{
  font-family: 'Montserrat', sans-serif;
  color: #8614f8
}

body {
  background-color: #808080
}

.centered {
  text-align: center;
}

.large {
  color: #FF0000
}

.medium {
  color: #FFFF00
}

.small {
  color: #0000FF
}

.other {
  color: #ccc
}
